*,
*:after,
*:before {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 3, 10);
  background: linear-gradient(
    180deg,
    rgba(0, 3, 10, 1) 43%,
    rgba(36, 55, 221, 1) 100%
  );
}

.main {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem 5rem;
  display: flex;
  width: 35rem;
}

.main_img {
  display: flex;
  justify-content: center;
}

.img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 1rem;
}

.person {
  margin: 0 1rem 0.3rem 1rem;
}

.basicName {
  margin: 2rem 0 0.5rem;
  color: rgb(14, 19, 63);
}

.position {
  margin: 0 0 1rem 0;
  color: rgb(14, 19, 63);
}

.description {
  margin: 1rem 0;
}

.social {
  margin: 0 0 0.5rem;
}

.socialMedia {
  display: flex;
  align-content: space-between;
  margin: 1rem 0 1rem;
}

.spaceBetween {
  padding: 0 0.5rem 0 0;
  text-decoration: none;
  color: rgb(14, 19, 63);
}

@media screen and (max-width: 730px) {
  .main {
    display: block;
    width: 90%;
    margin: 1rem;
    border-radius: 1rem;
  }

  .img {
    margin: 1rem 1rem 0 1rem;
  }
  .person {
    margin: 0 1rem 0.3rem 1rem;
    text-align: center;
  }
  .socialMedia {
    margin: 1rem 0 1rem;
    display: flex;
    align-content: space-between;
    justify-content: center;
  }

  .spaceBetween {
    padding: 0 0.3rem 1rem;
    text-decoration: none;
    color: black;
  }
}
