body {
    background-color: rgb(5, 5, 58);
    /* color: white; */
}

.card {
   width: 30rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: aliceblue;
}

.img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}